ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: aquamarine;
  }
  
  .active {
    background-color: cornsilk;
  }
  .active:hover {
    background-color: antiquewhite;
  }



  body {
    margin: 0;
}

/* blog form */
.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label {
    font-size: 20px;
    font-weight: 500;
}

.blog-form form input, textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
}

.blog-form form textarea {
    height: 250px;
}

.blog-list {
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.blog-list .blog-list-item {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.blog-list .blog-list-item .blog-image {
    flex: 1;
}

.blog-list .blog-list-item .blog-image img {
    height: 300px;
    object-fit: cover;
}